Nicolai Andre Dalaaker <nicolaad@stud.ntnu.no> Nicolaad <dalaaker.nicolai@gmail.com>
Nicolai Andre Dalaaker <nicolaad@stud.ntnu.no> Nicolai <nicolaad@stud.ntnu.no>
Fredrik Wilhelm Butler Wang <fredriwb@stud.ntnu.no> fredrikbw <fredriwb@stud.ntnu.no>
Lotfi Amin Lazreg <lotfial@stud.ntnu.no>  Lotfi <lotfi@champ.no>
Lotfi Amin Lazreg <lotfial@stud.ntnu.no> Lotfi_Laptop <fijgobal99@gmail.com>
Lotfi Amin Lazreg <lotfial@stud.ntnu.no> Lotfi <lotfial@stud.ntnu.no>
Lotfi Amin Lazreg <lotfial@stud.ntnu.no> Lotfi_laptop <lotfial@stud.ntnu.no>

