html,
body {
    height: 100%;
    margin: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

#root {
    min-height: 100%;
    margin-bottom: -50px;
}
.App-header {
    background-color: #32cd32;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

body {
    font-family: Arial;
}

.App-link {
    color: #09d3ac;
}

h1 {
    background-color: aquamarine;
    height: 150px;
    padding: 20px;
    margin: 0;
}

input {
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    margin-right: 5px;
    align-self: center;
}
ul {
    list-style-type: none;
}

table {
    margin: auto;
}

.PostButton {
    display: inline-block;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    padding: 0.6em;
    border: none;
    font-size: 1em;
    color: white;
    background-color: #32cd32;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: 600;
}

.DeleteButton {
    display: inline-block;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    padding: 0.1em;
    border: none;
    font-size: 1em;
    color: white;
    background-color: red;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: 600;
}

.PostButton:hover {
    background-color: #32cd32;
    opacity: 70%;
}

.DeleteButton:hover {
    background-color: red;
    opacity: 70%;
}
#listview thead {
    color: green;
}

.PieChart {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.push,
.labels {
    height: 50px;
}
